
  <body>
    <section>
      <div class="contenedor-formulario">
        <div class="formulario">
          <form action="" method="post">
            <h1 class="titulo">Registrate</h1>
            <div class="preguntas-con">
              <input type="text" placeholder="Nomre" />
            </div>
            <div class="preguntas-con">
              <input type="password" placeholder="Contraseña" />
            </div>
            <label class="recuerda"
              ><input type="checkbox" />Rcordar mi contraseña</label
            >
            <div class="preguntas-con">
              <input type="submit" />
            </div>
          </form>
          <p>No recuerdo mi <a href="#">contraseña</a></p>
          <p>No tengo cuenta <a href="#">registrate</a></p>
        </div>
      </div>
    </section>
  </body>
