
<div class="productos">
        <div class="contenedor-producto">
            <div class="targeta">
                <div class="producto">
                  <!--<img src="img/productos.png" alt="">--> 
                </div>
                <div class="nombre-producto">
                    <h2>Producto</h2>
                    <div class="cantidad">
                        <h3>Cantidad :</h3>
                        <samp>1</samp>
                        <samp>2</samp>
                        <samp>3</samp>
                    </div>
                    <a href="produto.html">Comprar ahora</a>
                </div>
            </div>
     </div>
</div>
</body>
