<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karolls Postres</title>
    <link rel="stylesheet" href="/css/estilos-globales.css">
</head>

<body>
    <p>Navegacion</p>
    <main class="contenedor">
        {{{ body }}}
    </main>

    <p>Footer</p>
</body>

</html>